
<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="refresh" content="0;https://v2.steemconnect.com/oauth2/authorize?client_id=we-resist&redirect_uri=https%3A%2F%2F<%=hostname%>%2F&scope=vote">
        <title>Login</title>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/signin.css">
    </head>

    <body>
    </body>
</html>

